* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1080px;
  padding: 0 50px;
  margin: 0 auto;
}

.list__wrapper {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  margin-bottom: 60px;
}

.rights {
  color: #FFB9DC;
}

.rights a {
  color: #FFB9DC;
}

.top__text {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #FFB9DC;
}

.top__buttons {
  display: flex;
  justify-content: center;
}

.top__clear {
  padding: 8px 11px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: black;
  background-color: #eaeaea;
  cursor: pointer;
}

.columns {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  width: calc(100% / 3);
  background-color: #eaeaea;
  border-radius: 5px;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.column__wrapper {
  height: 100%;
  padding: 5px 10px 10px 10px;
}

.column__title {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.column__cards {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style-type: none;
}

.column__card {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 10px 55px 10px 10px;
  background-color: white;
  border-radius: 5px;
  transition: transform .1s ease-in-out, margin-bottom .1s ease-in-out;
}

.column__card:last-child {
  margin-bottom: 0;
}

.column__card.column__card--dragged {
  position: absolute;
  transform: scale(1.1) rotate(5deg);
  z-index: 500;
  pointer-events: none;
}

.column__text {
  display: inline-block;
  margin: 0;
  font-size: 15px;
  pointer-events: none;
  word-break: break-all;
}

.column__edit-form {
  width: 100%;
}

.column__close-edit-form {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: gray;
  font-size: 20px;
}

.column__edit-btn {
  margin-right: 5px;
  padding: 8px 11px;
  display: inline-flex;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: black;
  background-color: #eaeaea;
  cursor: pointer;
  vertical-align: middle;
}

.column__edit-input {
  width: 100%;
  margin-bottom: 7px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: inherit;
  background-color: whitesmoke;
  resize: none;
}

.column__edit-input::placeholder {
  font-family: inherit;
}

.column__edit-input:focus-visible {
  outline: none;
}

.column__btn {
  padding: 0;
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.column__btn:hover .column__btn-text {
  text-decoration: underline;
}

.plus {
  margin-right: 5px;
  font-size: 19px;
}

.column__btn:hover .plus {
  text-decoration: none;
}

.column__card-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 1.5%;
}

.column__card-close {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: whitesmoke;
  color: gray;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.column__card-edit {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: whitesmoke;
  color: gray;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.column__card-edit svg {
  width: 14px;
  height: 14px;
}

.column__card-edit svg path {
  fill: gray;
}

.form {
  width: 100%;
}

.form--error {
  margin-bottom: 8px;
}

.form__input {
  display: block;
  width: 100%;
  min-height: 70px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 3px;
  resize: none;
  font-size: 15px;
  font-family: inherit;
}

.form__input::placeholder {
  font-family: inherit;
}

.form__input:focus-visible {
  outline: none;
}

.form__add {
  margin-right: 5px;
  padding: 8px 11px;
  display: inline-flex;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #5CA84D;
  cursor: pointer;
  vertical-align: middle;
}

.form__close {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: gray;
  font-size: 20px;
}

.error {
  color: gray;
  font-size: 15px;
  font-style: italic;
}

.no-cards-text {
  padding: 35px 0 15px 0;
  display: block;
  font-style: italic;
  font-size: 15px;
  color: #B7B7B7;
  text-align: center;
}

.transparent {
  opacity: 0;
}

.hidden {
  display: none;
}
